@charset "UTF-8";
body:has(.components-lock--hide-default:hover) .components--FloatingSettings,
body:has(.components-lock--hide-default:hover) .components--ListDynamicDataViewItemMenu {
  opacity: 0;
  transition-delay: 0s;
}

.components--FloatingSettings,
.components--ListDynamicDataViewItemMenu {
  transition: opacity 0.2s ease;
  transition-delay: 2s;
}

body.components-lock--hide-official-lock-button .workspace-leaf-content .clickable-icon[aria-label="锁定/解锁"],
body.components-lock--hide-official-lock-button .workspace-leaf-content .clickable-icon[aria-label="Lock/Unlock"] {
  display: none;
}

.components-lock--hide-default .components--ComponentFloatingMenus {
  display: none;
}
.components-lock--hide-default .components--GridLayoutComponents .components--GridLayoutItem:hover {
  border-color: transparent;
}
.components-lock--hide-default .components--GridItemResizeHandler {
  display: none;
}
.components-lock--hide-default .components--TabLayoutList .components--NewComponentDropdownMenuTrigger,
.components-lock--hide-default .components--VerticalTabHeaderButtons {
  display: none;
}
.components-lock--hide-default .components--GlobalTabMenuContainer {
  display: none;
}
.components-lock--hide-default .components--DynamicDataViewEl .components--DynamicDataViewHeaderMenus {
  display: none;
}
.components-lock--hide-default .components--DynamicDataViewEl .components--DynamicDataViewHeaderTitle:empty {
  display: none;
}
.components-lock--hide-default .components--DynamicDataView-PageContextMenu {
  display: none;
}
.components-lock--hide-default .components--DynamicDataView-GroupAddMenu {
  display: none;
}
.components-lock--hide-default .components--DynamicDataViewGroupHeaderMenus {
  display: none;
}
.components-lock--hide-default .components--TableColumnSelectionHeader > .components--input {
  display: none;
}
.components-lock--hide-default .ag-ltr .ag-header-cell-resize {
  display: none;
}
.components-lock--hide-default .ag-row .ag-drag-handle.ag-row-drag {
  opacity: 0;
}
.components-lock--hide-default .ag-row .components--TableIndexCellContainer .components--TableRowSelectionInput {
  display: none;
}
.components-lock--hide-default .ag-row .components--TableIndexCellContainer .components--TableIndexValue {
  display: block;
}
.components-lock--hide-default .components--KanbanDynamicDataView-Group .components-NewItemButton {
  display: none;
}
.components-lock--hide-default .components--MarkdownComponentContextMenu {
  display: none;
}
.components-lock--hide-default .components--AttachmentsItemContextMenu {
  display: none;
}
