body:has(.components-lock--hide-default:hover) {

    // 组件右上角的悬浮设置按钮
    .components--FloatingSettings,
    // 列表视图鼠标悬浮时数据项左侧的复选框、更多选项菜单
    .components--ListDynamicDataViewItemMenu {
        opacity: 0;
        transition-delay: 0s;
    }
}

// 添加动画延迟效果，防止锁定状态下的组件，在鼠标移开后悬浮菜单突然出现后才消失
.components--FloatingSettings,
.components--ListDynamicDataViewItemMenu {
    transition: opacity 0.2s ease;
    transition-delay: 2s;
}

// components 视图下的锁定/解锁按钮
body.components-lock--hide-official-lock-button {

    .workspace-leaf-content {

        .clickable-icon[aria-label="锁定/解锁"],
        .clickable-icon[aria-label="Lock/Unlock"] {
            display: none;
        }
    }
}

.components-lock--hide-default {

    // 网格/列表布局组件上方的 ... 悬浮菜单
    .components--ComponentFloatingMenus {
        display: none;
    }

    // 网格布局鼠标悬浮时组件边框高亮
    .components--GridLayoutComponents .components--GridLayoutItem:hover {
        border-color: transparent;
    }

    // 网格布局鼠标悬浮时组件左/右下角缩放指示器
    .components--GridItemResizeHandler {
        display: none;
    }

    // 标签页/垂直标签页的添加组件按钮
    .components--TabLayoutList .components--NewComponentDropdownMenuTrigger,
    .components--VerticalTabHeaderButtons {
        display: none;
    }

    // 标签页头部右侧的功能按钮组
    .components--GlobalTabMenuContainer {
        display: none;
    }

    // 数据视图头部菜单
    .components--DynamicDataViewEl .components--DynamicDataViewHeaderMenus {
        display: none;
    }

    // 数据视图标题不显示时，容器也隐藏，避免占位
    .components--DynamicDataViewEl .components--DynamicDataViewHeaderTitle:empty {
        display: none;
    }

    // 数据视图单条数据鼠标悬浮时的编辑、更多选项按钮组
    .components--DynamicDataView-PageContextMenu {
        display: none;
    }

    // 数据视图添加分组按钮
    .components--DynamicDataView-GroupAddMenu {
        display: none;
    }

    // 数据视图单个分组右上角的新建、更多选项按钮组
    .components--DynamicDataViewGroupHeaderMenus {
        display: none;
    }

    // 表格视图序号列顶部全选复选框
    .components--TableColumnSelectionHeader>.components--input {
        display: none;
    }

    // 表格视图列宽调整指示器
    .ag-ltr .ag-header-cell-resize {
        display: none;
    }

    .ag-row {

        // 表格视图序号列拖拽指示器
        .ag-drag-handle.ag-row-drag {
            opacity: 0;
        }

        .components--TableIndexCellContainer {

            // 表格视图序号列复选框
            .components--TableRowSelectionInput {
                display: none;
            }

            // 表格视图序号列序号文本
            .components--TableIndexValue {
                display: block;
            }
        }
    }

    // 看板分组底部新建按钮
    .components--KanbanDynamicDataView-Group .components-NewItemButton {
        display: none;
    }

    // Markdown 组件右上角悬浮菜单
    .components--MarkdownComponentContextMenu {
        display: none;
    }

    // 附件库组件数据项右上角悬浮菜单
    .components--AttachmentsItemContextMenu {
        display: none;
    }
}